<!DOCTYPE html>
<html>
<head>
  <title>GoSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "layouts/header" %>
  <% flash.each do |type, message| %>
  <div class="alert alert-info fade-in">
    <button class="close" data-dismiss="alert">x</button>
    <%= message %>
  </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').fadeOut();
    }, 4000);
   })
  </script>
</body>
</html>
